  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4" >Welcome to our Application</h1>
        <div class="list-group p-4">
        <a href="#" class="list-group-item list-group-item-action active">Choose a service</a>
        <a href="/register" class="list-group-item list-group-item-action">Register</a>
        <a href="/login" class="list-group-item list-group-item-action">Login</a>
        <a href="/upload" class="list-group-item list-group-item-action">Upload</a>
        <a href="/show" class="list-group-item list-group-item-action ">Show</a>
        <a href="/find" class="list-group-item list-group-item-action">Find</a>
      </div>

      </div>
    </div>
  </div>
